<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@1,8..144&amp;display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RocketCoffe</title>
  <script type="text/javascript" src="./menu.component.ts" defer=""></script>
  <link rel="stylesheet" href="./menu.component.css">
</head>

<body>
  <header>
    <div class="titulo-principal">
      <h1>Rocket<span>Coffe</span></h1>
      <p>Open everyday. 8AM - 9PM</p>
    </div>
  </header>

  <div class="menu">
    <div class="brunch">
      <h2>BRUNCH</h2>
      <ul>
        <li *ngFor="let item of brunchItems">
          <div class="item-row">
            <div class="details">
              <h3>{{ item.name }}</h3>
              <strong class="price">${{ item.price.toFixed(2) }}</strong>
            </div>
          </div>
          <div class="description-container">
            <p class="description">{{ item.description }}</p>
            <div class="quantity">
              <button class="decrease" (click)="decreaseQuantity(item)">-</button>
              <span class="quantity-display">{{ item.quantity }}</span>
              <button class="increase" (click)="increaseQuantity(item)">+</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="drinks">
      <h2>DRINKS</h2>
      <ul>
        <li *ngFor="let item of drinkItems">
          <div class="item-row">
            <div class="details">
              <h3>{{ item.name }}</h3>
              <strong class="price">${{ item.price.toFixed(2) }}</strong>
            </div>
          </div>
          <div class="description-container">
            <p class="description">{{ item.description }}</p>
            <div class="quantity">
              <button class="decrease" (click)="decreaseQuantity(item)">-</button>
              <span class="quantity-display">{{ item.quantity }}</span>
              <button class="increase" (click)="increaseQuantity(item)">+</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="orderModal" class="modal-overlay" [ngClass]="{'active': isModalOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeOrderModal()">&times;</span>
      <h2>Your Order</h2>
      <ul>
        <li *ngFor="let itemName of getOrderKeys()">
          {{ order[itemName].name }} - {{ order[itemName].quantity }} x R${{ order[itemName].price | number:'1.2-2' }}
          <button class="removeFromOrder" (click)="removeFromOrder(itemName)">Remove</button>
        </li>
      </ul>
      
      <button class="finishOrder" (click)="finishOrder()">Finish Order</button>
    </div>
  </div>

  <button id="openOrderButton" (click)="openOrderModal()">Add to Order</button>

</body>
</html>